<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="   
          http://www.springframework.org/schema/beans   
          http://www.springframework.org/schema/beans/spring-beans-4.1.xsd   
          http://www.springframework.org/schema/tx   
          http://www.springframework.org/schema/tx/spring-tx-4.1.xsd  
          http://www.springframework.org/schema/context   
          http://www.springframework.org/schema/context/spring-context-4.1.xsd  
          http://www.springframework.org/schema/task
          http://www.springframework.org/schema/task/spring-task-4.1.xsd 
          http://www.springframework.org/schema/aop   
          http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

	<!-- 1.load database config file -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	<!-- 2.Hibernate config -->
	<!-- data source -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<!-- 设置JDBC驱动名称 -->
		<property name="driverClass" value="${driverClassName}" />
		<!-- 设置JDBC连接URL -->
		<property name="jdbcUrl" value="${url}" />
		<!-- 设置数据库用户名 -->
		<property name="user" value="${userName}" />
		<!-- 设置数据库密码 -->
		<property name="password" value="${userPwd}" />
		<!-- 设置连接池初始值 -->
		<property name="initialPoolSize" value="${initialPoolSize}" />
		<!-- 设置连接池最大值 -->
		<property name="maxPoolSize" value="${maxPoolSize}" />
		<!-- 设置连接池最小空闲值 -->
		<property name="minPoolSize" value="${minPoolSize}" />
		<!-- 每次增长的连接数 -->
		<property name="acquireIncrement" value="${acquireIncrement}" />
		<!-- 等待获取新连接的时间 -->
		<property name="checkoutTimeout" value="${checkoutTimeout}" />
		<!-- 每60秒检查每个连接的状态 -->
		<property name="idleConnectionTestPeriod" value="${idleConnectionTestPeriod}" />
		<!-- 超时等待时间以毫秒为单位 -->
		<property name="maxIdleTime" value="${maxIdleTime}" />
	</bean>
	<!-- session factory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>com/teamapp/pojo/user/User.hbm.xml</value>
				<value>com/teamapp/pojo/user/Organization.hbm.xml</value>
				<value>com/teamapp/pojo/user/Department.hbm.xml</value>
				<value>com/teamapp/pojo/notification/Notification.hbm.xml</value>
				<value>com/teamapp/pojo/project/PTask.hbm.xml</value>
				<value>com/teamapp/pojo/project/PList.hbm.xml</value>
				<value>com/teamapp/pojo/project/Project.hbm.xml</value>
				<value>com/teamapp/pojo/project/Discussion.hbm.xml</value>
				<value>com/teamapp/pojo/project/Document.hbm.xml</value>
				<value>com/teamapp/util/Report.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
			</props>
		</property>
	</bean>

	<!-- 3. Configure transaction management -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- 4. Auto scan and define bean -->
	<context:component-scan base-package="com.teamapp"></context:component-scan>
	
	<!-- 4. Configure Data access object -->
	<!-- <bean id="userDao" class="com.teamapp.dao.impl.user.UserDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean> -->

</beans>